apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
        - name: nodejs-app
          image: 273354650934.dkr.ecr.ap-south-1.amazonaws.com/nodesjs:1e641d1e
          ports:
            - containerPort: 3000
      imagePullSecrets:
        - name: ecr-secret
